h1 {
    font-size: 100px;
    text-align: center;
    font-weight: 900;
}

.recipe-names {
    font-size: 55px;;
    font-weight: 700;
    color: rgb(0, 59, 0);
    text-decoration: none;
}

#dora {
    background-color: rgba(160, 60, 77, 0.8);
    color: white;
}

#jeqe {
    background-color: rgb(5, 5, 43);
    color: white;
}

#chakalaka {
    background-color: orangered;
    color: white;
}

h2 {
    font-size: 60px;
}

p,
li {
    font-size: 30px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    padding: 20px;
}